.container {
  margin-top: 20px;
}

.modal .modal-body img {
  width: 300px;
  height: 300px;
}

button{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.navbar.bg-body-tertiary {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(01%);
}

.container h1 {
  color: antiquewhite;
  text-align: center;
  font-size: 3rem; 
}
