.container {
  margin-top: 20px;
}

.modal .modal-body img {
  width: 100px;
  height: 100px;
}

button{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* Navbar traslúcida */
.navbar.bg-body-tertiary {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(01%);
}

/* Texto de bienvenida más grande */
.container h1 {
  color: antiquewhite;
  text-align: center;
  font-size: 3rem; /* Aumenta el tamaño del texto */
}
