<div class="login-container">
  <div class="user-icon">
    <i class="material-icons">home</i>
  </div>
  <h3 class="card-title">Inicio de sesion</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Usuario</label>
      <div class="input-container">
        <i class="material-icons">person</i>
        <input id="username" formControlName="username" type="email" placeholder="hola@gmail.com" required>
      </div>
      <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
        <small *ngIf="loginForm.get('username')?.errors?.['required']" class="text-danger">Correo no puede estar vacio.</small>
        <small *ngIf="loginForm.get('username')?.errors?.['email']" class="text-danger">Ingresa un correo valido.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-container">
        <i class="material-icons">lock</i>
        <input id="password" formControlName="password" [type]="hide ? 'password' : 'text'" maxlength="10" required>
        <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
          <i class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</i>
        </button>
      </div>
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
        <small *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger">Password no puede estar vacio.</small>
        <small *ngIf="loginForm.get('password')?.errors?.['maxlength']" class="text-danger">Password no puede tener más de 8 caracteres.</small>
      </div>
    </div>
    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block">Iniciar</button>
  </form>
</div>
