.login-container {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.5);
  padding: 2rem;
  position: relative;
  max-width: 400px;
  margin: 150px auto;
  text-align: center;
}

.user-icon {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon i {
  color: #fff;
  font-size: 50px;
}

h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container {
  position: relative;
}

.input-container i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
}

.input-container input {
  width: 100%;
  padding: 10px 40px 10px 40px; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  left: 290px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #aaa;
  padding: 0;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #bfc5cc;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background: #ccc;
}

button:hover:not(:disabled) {
  background: #99b6d5;
}

.text-danger {
  color: #dc3545;
}

.form-group {
  margin-bottom: 1rem;
}

.btn-block {
  width: 100%;
}
